@if (Request.IsAuthenticated)
{

                   <!-- MyCSSMenu Structure [Menu 0] -->

                    <ul id="qm0" class="qmmc">

	                    <li><a  href="javascript:void(0)">CONFIGURACIÓ</a>

		                    <ul>
		                    <li><span class="qmtitle" >Seguretat</span></li>
		                    <li><a href="http://localhost/Guestbook">Usuaris</a></li>
                            <li><a href="javascript:void(0)">Aplicacions</a></li>
    	                    <li><a href="javascript:void(0)">Rols</a></li>
		                    </ul>
                        </li>

	                    <li><span class="qmdivider qmdividery" ></span></li>
	                    <li><a class="qmparent" href="javascript:void(0)">GESTIÓ TRIBUTÀRIA</a>

		                    <ul>
		                    <li><span class="qmtitle" >Impostos</span></li>
                            <li><a href="javascript:void(0)">IBI</a></li>
		                    <li><a href="javascript:void(0)">IVTM</a></li>
		                    <li><a href="javascript:void(0)">IAE</a></li>
		                    <li><a href="javascript:void(0)">ICIO</a></li>
		                    <li><span class="qmdivider qmdividerx" ></span></li>
		                    <li><span class="qmtitle" >Taxes</span></li>
                            <li><a href="javascript:void(0)">Escombraries</a></li>
		                    <li><a href="javascript:void(0)">Guals</a></li>
		                    </ul>
                         </li>


                    <li class="qmclear">&nbsp;</li></ul>


}